* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.icon {
  height: 40px;
}

footer {
  position: absolute;
  bottom: 0;
}

li {
  cursor: pointer;
  width: min-content;
}
.navActive {
  color: red;
}
